.scroll {
   width: 100%;
   overflow: auto;
}
table tr td,
table tr th{
   background: white;
}
.headrow {
//   position: absolute;
}
.headcol {
//   position: absolute;
   width: 6em;
}
.todaycel {
   background-color: honeydew;
   color: darkgreen;
}
