head
  link(rel='stylesheet', href="css/test.css")
  script(type="text/javascript",src="jquery/dist/jquery.min.js")
  meta(name="viewport",content="width=device-width, initial-scale=1.0")

body
  div#schedule

  script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
  script(src="https://unpkg.com/react@15/dist/react.min.js")
  script(src="https://unpkg.com/react-dom@15/dist/react-dom.min.js")

  script(type="text/babel", src="/js/schedule.js")

